body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

section.firstSection {
  height: 100%;
  width: 100%;
  position: relative; }
  section.firstSection .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0; }
    section.firstSection .bg img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%); }
  section.firstSection .info {
    overflow: hidden;
    width: 96%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 0 2%;
    text-align: center;
    color: white;
    background: rgba(246, 41, 12, 0);
    background: -moz-linear-gradient(top, rgba(246, 41, 12, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 41, 12, 0)), color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(246, 41, 12, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(246, 41, 12, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(246, 41, 12, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(246, 41, 12, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#000000', GradientType=0 ); }
    section.firstSection .info h1 {
      margin: 20px 0 0 0;
      font-size: 39px;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      line-height: 1;
      max-height: 88px;
      font-weight: bold; }
    section.firstSection .info h3 {
      margin: 0;
      font-size: 13px;
      text-transform: uppercase;
      padding: 10px 0 15px;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal; }
      section.firstSection .info h3:after {
        content: '';
        height: 5px;
        left: 50%;
        width: 30%;
        background: white;
        position: absolute;
        bottom: -5px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%); }
    section.firstSection .info span {
      display: block;
      font-size: 17px;
      line-height: 1.17;
      padding: 15px  0  40px  0;
      font-family: 'Old Standard TT', serif; }

a {
  color: #00B7FF; }
