<div class="bg">
    <img src="{{content.image}}"/>
</div>
<div class="info">
  <h1 class="title">{{content.title}}</h1>
  <h3 class="address">{{content.address}}</h3>
  <span class="detailsShort">{{content.detailShort}}</span>
    <div class="arrow"></div>
</div>
